.header {
  padding-top: 150px;
  padding-bottom: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content h1 {
  color: #fff;
  font-size: 55px;
  margin-bottom: 15px;
  color: #10271D;
  margin-top: 20px;
  line-height: 1.1;
}
.content h2{
  color: #10271D;
  font-weight: 500;
}
.content p.first-child{
  color: #76867e;
  margin-top: 0;
  margin-bottom: 0 !important;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}
.content p{
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 25px;
  color: #76867E;
  font-weight: 300;
}
.header button {
  background-color: #3b715a;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}
.content div:nth-child(2) img {
  width: 600px;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  .content > div:first-child {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .content div:nth-child(2) img {
    width: 100%;
    height: 100%;
  }
  .content {
    flex-direction: column;
  }
  .header {
    padding-top: 100px;
  }

  .content > div {
    margin: 10px 0px;
  }
}
