.main-service {
  background-color: #3b715a;
  height: 80vh;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px 0;
}
.service-container .contact p {
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}
.service-container .contact h1 {
  margin-top: 0;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
}
.service-container div:last-child p {
  color: #fff;
  line-height: 1.5;
  font-weight: 300;
}
.service {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.service .service-icon {
  margin-bottom: 0;
  font-size: 70px;
  color: #eeeeee;
  font-weight: 200;
}
.service div{
    /* background-color: red; */
    /* padding: 12px; */
}

.service h3 {
  margin-top: 10px;
  color: #eeeeee;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .service-container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  .service{
    padding:25px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-service{
    height: auto;
  }
}
