body {
  margin: 0;
  
  font-family: 'Outfit', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Outfit', sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}


.box-price{
  /* padding: 50px 0; */
  display: grid;
  padding-top: 10px;
  padding-bottom: 25px;
  grid-template-columns: repeat(3, 2fr);
  gap: 15px;
  /* background-color: red; */
}

.box-price div{
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

.box-price h3{
  font-weight: 600;
  /* color: red; */
  font-size: 16px;
  margin-bottom: 0;
}
.box-price h4{
  font-weight: 400;
  color:"#76867e";
  margin-top: 5px;
}
.box-price h1{
  font-weight: 400;
}

.Tabs{ 
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 5px; */
}

.Tabs span{
  padding: 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #CCC;
  /* border-radius: 5px; */
  border-radius: 50px;
}
.Tabs-option{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px ;
}

.des-option h2{
  color:#80aa45 ;
  margin-bottom: 10px;
}
.des-option{
  text-align: left;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 30px;
}
.des-option h4{
  margin: 0;
  font-weight: 500;
}
.des-option button{
  margin: 15px 3px;
  padding: 5px 20px;
  border: none;
  background-color: #80aa45;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}


.des-option button:last-child{
  background-color: #3b715a !important;
}



.Tabs span.active {
  background-color: #3b715a;
  color: #fff;
}

.Request{
  background-color: #3b715a;
  
  color: #fff;
   text-align: center;
   padding: 30px 0;
   margin-top: 20px;
   border-radius: 15px;
}

.Request button{
  /* borde */
  border-radius: 50px;
  /* background-color: yellow; */
  background-color: transparent; 
  border: 1px solid #fff;
  /* padding: 10px 20px; */
  /* border: none; */
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  margin-top: 25px;
  padding: 15px 30px;
}
.Request h1{
  margin-bottom: 10px;
}
.Request h3{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .box-price{
      grid-template-columns: repeat(1, 2fr);
  }
  .Tabs {
    
    grid-template-columns: repeat(2, 2fr);
  }
  .Request{
    padding: 50px;
  }
}